.side-menu {
    display: flex;
    flex-direction: column;
    width: 260px;
    height: 100vh;
    background-color: #fff;
}

.side-menu-header {
    display: flex;
    align-items: center;
    padding: 16px 24px
}

.side-menu-links {
    display: flex;
    flex-direction: column;
    padding: 20px 24px 44px;
    gap: 8px;
}

.side-menu-link {
    display: flex;
    align-items: center;
    color: #252525;
    font-size: 15px;
    text-decoration: none;
    transition: 0.2s;
    height: 48px;
    padding-left: 8px;
}

.side-menu-link.active {
    color: #1B43D0;
    border-left: 6px solid #1B43D0;
    border-radius: 5px 5px 5px 5px;
}

.side-menu-link:hover {
    color: #1B43D0;
}

.side-menu-icon {
    margin-right: 12px;
    font-size: 18px;
}