.filterBtn {
    background: #f3f4f8;
    border: 1px solid #e6e7ee;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    min-width: fit-content;
    color: rgb(140 138 161);
    padding: 0px 18px;
    border: none;
    background-color: rgb(245 246 248);
}

.filterIcon {
    font-size: 16px;
}