.str-content {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #ffffff;
    border-radius: 24px;
    padding: 24px 40px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.str-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.str-home-title {
    font-size: 24px;
    font-weight: 700;
}