@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #F5F6F8;
  color: #252525;
  font-family: 'Manrope', sans-serif;
}

/* App name */
.app-name-white {
  color: white;
  font-weight: 700;
  display: flex;
  gap: 8px;
  width: fit-content;
}

.app-name-black {
  color: #333;
  font-weight: 700;
  display: flex;
  gap: 8px;
  width: fit-content;
}

.app-logo {
  width: 65px;
  height: 65px;
  display: flex;
  align-self: center;
}

/* LAYOUT STRUCTURE */
.layout-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 24px 40px;
  overflow-y: auto;
  min-width: 600px;
  min-height: 500px;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  padding: 5px;
}

/* Inputs */
.inputs {
  padding: 14px 16px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-size: 14px;
  background-color: #fff;
  color: #0f172a;
  flex: 1;
}

.inputs::placeholder {
  color: #94a3b8;
}

/* Buttons */
button {
  height: 40px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
}

.buttons-primary {
  background-color: #1d4ed8;
  color: white;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.buttons-primary:hover {
  background-color: #2563eb;
}

.buttons-primary-reversed {
  background-color: white;
  color: #1d4ed8;
  border: 1px solid #1d4ed8;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.buttons-primary-reversed:hover {
  background-color: #1d4fd843;
}

.buttons-unselected {
  background-color: #e7e7e7;
  color: #475569;
  border: none;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.buttons-unselected:hover {
  background-color: #d4d4d4;
}

/* Buttons Icons */
.buttons-icon {
  font-size: 24px;
}

/* Headers before tables */

.headerActions {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}


.tabs {
  display: flex;
}

.tab {
  background: transparent;
  border: none;
  font-size: 16px;
  padding: 8px 10px;
  cursor: pointer;
  color: #666;
  padding: 8px 16px;
  border-bottom: 2px solid #F5F6F8;
}

.tab p {
  font-size: 18px;
  font-weight: 500;
}

.tabActive {
  color: #2450ff;
  border-bottom: 2px solid #2450ff;
}

.tabActive p {
  font-size: 18px;
  color: #2450ff;
  font-weight: 500;
}



/* Tables */
.th-first {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.th-last {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

tbody tr:first-child {
  border: none;
}

.th-100 {
  min-width: 100px;
}

.th-150 {
  min-width: 150px;
}

.th-200 {
  min-width: 200px;
}

.th-250 {
  min-width: 250px;
}

th, td {
  text-align: left;
  padding: 16px 18px;
  font-size: 14px;
}

td {
  border-bottom: 1px solid #f0f1f6;
}

.row-flex {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* P */

p {
  color: #252525;
}

/* divs */

.cursorOn{
  cursor: pointer;
}