/* GLOBAL RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  background-color: #F9FBFC;
  color: #252525;
}

/* LAYOUT STRUCTURE */
.layout-wrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.layout-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}