.profileWrapper {
    background: #fff;
    padding: 40px;
    border-radius: 16px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.headerSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 24px;
    color: #1e293b;
}

.shuffler {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    width: 100%;
}
