/* login.module.css */

.connection-form {
  width: 50%;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
}

.forms {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
}

.log-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 24px;
  color: #0f172a;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.form-group label {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
  color: #0f172a;
}

.inputs {
  padding: 14px 16px;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-size: 14px;
  background-color: #fff;
  color: #0f172a;
}

.inputs::placeholder {
  color: #94a3b8;
}

.password-label-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reveal-password {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #9ca3af;
  cursor: pointer;
}

.reveal-password span {
  display: flex;
  align-items: center;
  gap: 4px;
}

.forgot-password {
  margin-top: 8px;
  font-size: 13px;
  color: #64748b;
  text-align: right;
}

.forgot-password:hover {
  text-decoration: underline;
}

.buttons-primary {
  margin-top: 12px;
  padding: 14px;
  width: 100%;
  background-color: #1d4ed8;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.2s ease;
}

.buttons-primary:hover {
  background-color: #1e40af;
}

.shuffle-form {
  text-align: center;
  font-size: 14px;
  background-color: #dbdbdb;
  display: flex;
  border-radius: 8px;
  width: fit-content;
  gap: 5px;
  margin-bottom: 24px;
}

.shuffle-form a {
  text-decoration: none;
  font-weight: 500;
}

.shuffle-form a:hover {
  text-decoration: underline;
}

/* Bloc gauche de bienvenue */

.app-name-form {
  width: 50%;
  height: 100vh;
  background: linear-gradient(180deg, #1e3a8a, #3b82f6);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  text-align: center;
  flex-direction: column;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.app-name-form h1 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 12px;
}

.app-name-form p {
  font-size: 24px;
  opacity: 0.9;
}

.app-name-bottomed {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 20px;
}


@media (max-width: 840px) {
  .connection-form {
    width: 100%;
    padding: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    justify-content: center;
    height: 100vh;
  }

  .app-name-form {
    display: none;
  }
}